argon2-cffi==21.1.0
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
bleach==4.1.0
blis==0.7.4
boto3==1.20.5
botocore==1.23.5
catalogue==2.0.6
certifi==2021.5.30
cffi==1.15.0
charset-normalizer==2.0.4
click==7.1.2
cloudpickle==2.0.0
colorama==0.4.4
cycler==0.10.0
cymem==2.0.5
Cython==0.29.23
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
en-core-web-lg==3.0.0
en-core-web-sm==3.0.0
entrypoints==0.3
filelock==3.0.12
Flask==2.0.2
Flask-Cors==3.0.10
gensim==4.1.2
gym==0.21.0
huggingface-hub==0.0.12
idna==3.2
importlib-metadata==4.8.2
importlib-resources==5.4.0
ipykernel==6.5.0
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.0.1
jsonlines==2.0.0
jsonschema==4.2.1
jupyter-client==7.0.6
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.9.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
jupyterthemes==0.20.0
kaggle==1.5.12
kiwisolver==1.3.2
lesscpy==0.15.0
lxml==4.6.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
murmurhash==1.0.5
nbclient==0.5.8
nbconvert==6.3.0
nbformat==5.1.3
negspacy==1.0.0
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.6.5
notebook==6.4.5
numpy==1.21.4
olefile==0.46
packaging==21.0
pandas==1.3.2
pandocfilters==1.5.0
parso==0.8.2
pathy==0.6.0
pickleshare==0.7.5
Pillow==8.4.0
pip==21.3.1
ply==3.11
preshed==3.0.5
prometheus-client==0.12.0
prompt-toolkit==3.0.22
pycparser==2.21
pydantic==1.8.2
Pygments==2.10.0
pyparsing==3.0.6
pyrsistent==0.18.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-slugify==5.0.2
pytz==2021.1
pywin32==302
pywinpty==1.1.6
PyYAML==6.0
pyzmq==22.3.0
rdflib==6.0.2
regex==2021.8.28
requests==2.26.0
s3transfer==0.5.0
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.1
seaborn==0.11.2
sematch==1.0.4
Send2Trash==1.8.0
setuptools==59.1.1
six==1.16.0
smart-open==5.2.1
spacy==3.0.7
spacy-legacy==3.0.8
SPARQLWrapper==1.8.5
srsly==2.4.1
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
thinc==8.0.11
threadpoolctl==2.2.0
tokenizers==0.10.3
torch==1.9.0
torchaudio==0.9.0
torchtext==0.10.0
torchvision==0.10.0
tornado==6.1
tqdm==4.62.2
traitlets==5.1.1
transformers==4.9.2
typer==0.3.2
typing-extensions==3.10.0.2
urllib3==1.26.6
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
wheel==0.37.0
widgetsnbextension==3.5.2
zipp==3.6.0
